<h1>Danh sách khóa học</h1>

<div class="course-list">
  {{#each courses}}
    <div class="course-item">
      <img src="{{this.img}}" alt="{{this.name}}" class="course-img" />

      <h2 class="course-name">{{this.name}}</h2>

      <p class="course-title">
        {{this.title}}
      </p>
    </div>
  {{/each}}
</div>
